/* @import "tailwindcss"; */


:root {
  --background: #16161C;
  --foreground: #ededed;
  --highlight: #58D1EF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  display: flex;
  justify-content: center;
}

h1 {
  color: var(--foreground);
  font-size: 61px;
  margin-top: 64px;
  margin-bottom: 64px;
}

h2 {
  color: var(--foreground);
  font-size: 29px;
  margin-bottom: 16px;
}

p {
  color: var(--foreground);
  font-size: 13px;
}

a {
  color: var(--foreground);
  text-decoration: underline;
}

b {
  color: var(--highlight);
}

main {
  /* background-color: tomato; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  padding-left: 32px;
  padding-right: 32px;
  gap: 16px;
}

nav {
  /* background-color: #16161C; */
  padding: 32px;
  border-left: 1px solid white;
  height: 200px;
}

menu {
  list-style-type: none;
}

menu>li {
  margin-left: 16px;
}

.container {
  /* background-color: yellow; */
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.explicacao-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px 64px;
}

@media (width <=1024px) {
  .explicacao-grid {
    grid-template-columns: 1fr;
    gap: 16px 32px;
  }
}

.explicacao-grid p {
  text-align: justify;
}

.content {
  /* background-color: green; */
  max-width: 880px;
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
}

.two-column-grid {
  grid-column-start: 1;
  grid-column-end: 4;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}

.direitos-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 82px 82px 82px 82px 82px;
  gap: 24px 32px;
}

.direito-lgpd {
  background-color: white;
  color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 16px;
  text-align: center;
  font-size: 13px;
}

.alinhadoAEsquerda {
  grid-column-start: 1;
  grid-column-end: 3;
}

.alinhadoADireita {
  grid-column-start: 2;
  grid-column-end: 4;
}

.centralizado {
  grid-column-start: 1;
  grid-column-end: 4;
}

.destaque {
  font-size: 19px;
  background-color: var(--highlight);
  /* color: var(--foreground); */
}

.relatos-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px 32px;
}

.relato {
  background-color: var(--highlight);
  border-radius: 16px;
  padding: 16px;
  color: var(--background);
}

.relato::after,
.relato::before {
  content: 'â';
}

@media (width <=990px) {
  h1 {
    margin-top: 32px;
    margin-bottom: 32px;
    font-size: 48px;
    padding-left: 32px;
    padding-right: 32px;
  }
}


@media (width <=700px) {
  nav {
    display: none;
  }

  .direitos-grid,
  .two-column-grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 16px;
  }

  .direito-lgpd {
    height: 48px;
  }

  .alinhadoADireita,
  .alinhadoAEsquerda,
  .centralizado,
  .two-column-grid {
    grid-column: 1 / 2;
  }
}

@media (width <=600px) {
  .relatos-grid {
    grid-template-columns: 1fr;
  }
}